* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  color: var(--color-white);
  font-size: 1.6rem;
}

h1::selection, p::selection, span::selection {
  background: var(--color-secondary);
  color: var(--color-white);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

@media (min-width: 2560px) {
  html {
    font-size: 87.5%; /* 14 px */
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 56.25%; /* 9 px */
  }
}

@media (max-width: 992px) {
  html {
    font-size: 50%; /* 8 px */
  }
}

@media (max-width: 768px) {
  html {
    font-size: 43.75%; /* 7 px */
  }
}
